{# test.twig #}
{# ------------------------------------------------------------------------- #}

{# VARIABLES STATIQUES #}
{# ------------------------------------------------------------------------- #}
{# Préférez mettre vos variables dans le fichier:                            #}
{#     ./src/data/pages/test.json                                            #}
{# De même, les variables "globales" d'environnement devrais être dans:      #}
{#     ./src/data/data.json                                                  #}

{# LAYOUT #}
{# ------------------------------------------------------------------------- #}
{% extends "../layout/_default.twig" %}

{# GABARIT PRINCIPAL #}
{# ------------------------------------------------------------------------- #}
{% block main %}
  <p>{{ description }}</p>

  <!-- SVG example -->
  <style>
    .icon {
      width: 125px;
      height: 125px;
      background: #eee;
    }

    body {
      padding: 20px;
    }
  </style>

  <svg class="icon">
    <use xlink:href="#fish" />
  </svg>

  <svg class="icon">
    <use xlink:href="#beaker" />
  </svg>
  <!-- end: SVG example -->

{% endblock %}